# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Database
*.db
*.sqlite3

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# DB Browser project files
*.sqbpro